@import 'theme/index';

.fields {
  @include cols(6);
  padding: 0;
  margin: 50px 0;

  .emailInput {
    width: 90%;
    max-width: 300px;
    color: $text;
  }
  button {
    width: 90%;
    max-width: 300px;
  }
}
.deskLampWrapper {
  @include cols(6);
  min-width: 400px;
  height: 100%;
  padding: 0;
  margin: 50px 0;
  //need to find a better way to create this gray thing that is reported
  //border-left: $gray 2px solid;
  .deskLamp {
    height: 100%;
    width: 100%;
    padding: 10%;
  }
}
