.profileBannerCtn {
  position: relative;

  .specialty {
    bottom: 0;
    left: 50%;
    opacity: .9;
    padding-bottom: 20px;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;

    h4 {
      margin: 0;
    }

    input {
      margin-left: 20px;
      width: 300px;
    }
  }
}

.skillsLinksCtn {
  padding: 20px;
}

/* below is imported from the aborted v2
@import 'theme/main';
.profile {
  background: $bg-light;
  min-height: 100vh;
  @include cols(9);
  padding: 0;
  width: calc(100% - 300px);
}
.profileMain {
  background: rgba(0,0,0,0.5);
  margin-top: -75px;
  padding: 10px 20px;
  padding-left: 30%;
  h1 {
    margin-bottom: 10px;
    @include rems(36);
  }
  p {
    margin-top: 0;
    @include rems(18);
  }
  input {
    margin-left: 5px;
    width: 300px;
  }
}
.profilePhoto {
  color: $white;
  padding-left: 50px;
  margin-top: -170px;
  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid $white;
    text-align: center;
  }
}

.formField {
  background: $white;
  border: 1px solid $primary;
  padding: 10px;
  border-radius: 5px;
  @include rems(16);
}
*/
