.donutWrapper {
  height: 250px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;

  .donutCtn {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 100%;

    .donutchart {
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      .donutchartTrack{
        fill: transparent;
      }
      .donutchartFilling {
        fill: transparent;
        transition: stroke-dasharray .3s ease;
      }
    }

    > img {
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      width: 145px;
    }
  }
}


