@import 'src/styles/main';

.navbar {
  width: 100%;
  height: 50px;
  z-index: 2;
  color: $white;
  background-color: $header; //unless it's overridden in the component
  @include rems(14);
  a {
    color: $primary;
  }
}

