.profile-banner-ctn {
  position: relative;

  .banner-img {
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 70vh;
    justify-content: center;
    max-width: 100%;
    opacity: 1;
    transition: opacity 1s;

    .banner-caption {
      align-items: center;
    }

    &:hover {
      cursor: pointer;
      opacity: .2;
      transition: opacity 1s;
    }
  }

  .specialty {
    align-items: center;
    bottom: 0;
    justify-content: center;
    left: 50%;
    opacity: .9;
    padding-bottom: 20px;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;

    .specialty-input {
      align-items: center;
    }

    h4 {
      margin: 0;
    }

    input {
      margin-left: 20px;
      width: 300px;
    }
  }
}

.rank-social-ctn {

  .rank-ctn {
    justify-content: center;
  }

  .add-social-ctn {
    justify-content: center;
  }
}

.status-ctn {
  justify-content: center;
}

.skills-links-ctn {
  padding: 20px;
  justify-content: space-around;
}
