.bannerImg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 70vh;
  max-width: 100%;
  opacity: 1;
  transition: opacity 1s;
  width: 100%;

  &:hover {
    cursor: pointer;
    opacity: .2;
    transition: opacity 1s;
  }
}
