@import "_normalize3.scss";
@import "_variables.scss";
@import "_helpers.scss";
@import "_base.scss";
@import "_base2.scss";


$here: #fff;

/*     Font defaults     */
$font-size: 16; // Your base font-size in pixels
$line: 24;
$em: $font-size * 1em; // Shorthand for outputting ems, e.g. "12/$em"

$sidebar: #474747;
$header: #505050;
$primary: #17C3A9;
$white: #fff;
$black: #000;

$nav-bg: #595959;
$nav-hover: #626262;
$nav-border: #474747;

$blue: #058fc4;
$blue-bg: #157ba6;
$blue-button: #176181;
$blue-hover: #124a62;
$blue-hover-alt: #1B7398;


$text: #333;


/*     Link colors     */
$link: $primary;
$link-hover: $primary;
$link-visited: $primary;