$color-primary: rgb(23, 195, 169);
$color-active: rgb(23, 195, 169);
$color-secondary: rgb(0, 125, 125);
$color-accent1: rgb(155, 155, 155);
$color-accent2: rgb(0, 125, 125);
$color-accent3: rgb(250, 175, 0);
$color-black: rgb(77, 77, 77);
$color-white: rgb(255, 255, 255);
