.dropDown {
  border-radius: 3px;
  width: 250px;
  padding: 10px;
  cursor: pointer;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 95%;
}
