@import 'styles/main';

.sidebar {
  background: $sidebar;
  color: $white;
  min-height: 100vh;
  @include cols(3);
  max-width: 300px;
  padding: 40px 20px;
}
.sidebarStatus {
  // Insert Donut chart
}
.sidebarStatusImage {
  text-align: center;
}

.statusSelect {
  select {
    color: $text;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }
}
.btnPrimary {
  display: block;
  width: 100%;
  background: $primary;
  color: $white;
  border: 0;
  padding: 6px 14px;
  border-radius: 5px;
}

.nav {
  margin-top: 50px;
}
.sidebarNav {
  list-style: none;
  margin: 0 -20px;
  padding: 0;
  background: $nav-bg;
  li {
  }
  a {
    display: block;
    padding: 10px 20px;
    background: $nav-bg;
    color: $white;
    border: 1px solid $nav-border;
    &:hover {
      color: $primary;
      background: $nav-hover;
    }
  }
  a.navActive {
    &:hover {
      color: $white;
    }
  }
  .badge {
    display: block;
    background: $primary;
    color: $white;
    float: right;
    min-width: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    margin-top: -3px;
    font-weight: bold;
  }
}

.header {
  background: $header;
  color: $white;
  @include cols(9);
  width: calc(100% - 300px);
  a {
    color: $primary;
  }
}
.headerEdit {
  @include cols(6);
}
.headerStats {
  text-align: right;
  @include cols(6);
}
.headerLogout {
  float: right;
}
