.donut-ctn {
  position: relative;
  display: inline-block;
  border-radius: 50%;

  .donutchart {
    border-radius: 50%;
    display: block;

    .donutchart-track{
      fill: transparent;
    }
    .donutchart-filling {
      fill: transparent;
      transition: stroke-dasharray .3s ease;
    }
  }

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 88%;
    height: 88%;
  }
}


