@import 'src/styles/main';

.donutWrapper {
  height: 200px;
  position: relative;
  width: 100%;
  margin: 0px;
}

.donutCtn {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 100%;
  .donutchart {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    .donutchartTrack{
      fill: transparent;
    }
    .donutchartFilling {
      fill: transparent;
      transition: stroke-dasharray .3s ease;
    }
  }
  > img {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 145px;
  }
}
