#navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 0;
  max-width: 99vw;
  min-width: 375px;

  .menu-dropdown {
    position: absolute;
    top: 60px;
    right: 0;
  }

  li {
    list-style: none;
    margin-right: 25px;
    padding: 10px;
  }

  a {
    color: white;
  }

  .rank {
    margin: 0 15px;
  }
}
